.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  /* color scheme */
  .main-color {
    background-color: #641C9E ;
    }
  .main-color-text{
    color: #641C9E ;
    }
    
    .background-color {
        background-color: #E8DAF2 ;
    }
    
    .text-color {
        color: #1D0233 ;
    }
    
    .error-color {
        color: #E36868 ;
    }
    .warning-color {
        color: #E38D68 ;
    }
    .positive-color {
        color: #68DC65 ;
    }
    .nutral-color {
        background-color: #68A1E3 ;
        
    }
  
    .purple-font{
      color: #641C9E;
    }
  
  
    .inactiveLink {
      pointer-events: none;
      cursor: default;
   }
  
   /* navigation bar */
  .navbar{
      margin: 0;
      padding: 0;
  
    }
  
   .navbar-nav .nav-link{
      font-weight: bolder;
      margin-right: 18px;
      margin-left: 0px;
      position: relative;
      
  }
  
  
  
  .navbar-nav .nav-link.active {
    background-color: rgb(255, 255, 255) !important;
    color: rgb(0, 0, 0) !important;
  }
  
  
  
  
    body {
      height: 100%;
      margin: 0;
      padding: 0;
  }
  
  *{
      margin: 0;
      padding: 0;
    }
  
  /* to move all contents down for top navbar */
  .below-navbar{
      margin-top: 46px;
  }
  
  /* to move admin pages down for both navbar and admin navbar */
  .below-navbar-admin{
      margin-top: 95px;
  }
  
  /* top navbar */
  .navbar-top {
    position: fixed; /* or fixed or absolute */
    z-index: 1008; /* Ensure the topmost navbar is above other elements */
  }
  .dropdown-menu {
    position: absolute;
    z-index: 1005; /* Ensure the dropdown menu is above the topmost navbar */
  }
  
  /* Second Navbar */
  .navbar-second {
    position: fixed; /* or fixed or absolute */
    z-index: 1002; /* Ensure the second navbar is above the dropdown menu */
  }
  
  /* to make toggle button avtive */
  .active-toggle{
    background-color: purple;
    font-weight: 700;
    color: white;
  }