.profile-div {
  margin-top: 1.25em;
}

#description-para-client {
  font-size: 1.125em;
  color: black;
  padding-top: 1.25em;
  padding-bottom: 0.625em;
  font-weight: 400;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.languages-list {
  list-style-type: none;
  padding-top: 10px;
  padding: 0;
  margin: 0;
}

.language-item {
  display: inline-block;
  color: black;
  font-size: 1.125em;
  padding-top: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 400;
  margin-right: 0.625em; /* Adjust as needed */
}

#language-title-client {
  font-size: 1.5em;
  font-weight: bold;
  padding-top: 1.25em;
  padding-bottom: 0.625em;
  color: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#description-title-client {
  font-size: 1.5em;
  font-weight: bold;
  padding-top: 1.25em;
  padding-bottom: 0.625em;
  color: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.profile-image {
  max-width: 12.5em; /* Set the maximum width of the image */
  max-height: 25em; /* Set the maximum height of the image */
  border-radius: 50%;
  object-fit: cover;
  width: 12.5em;
  height: 12.5em;
  position: relative;
  left: 33.75em;
  bottom: -1.25em;
  display: block;
  border-radius: 50%;
  border: solid;
  border-width: thin;
}

.image-upload-div {
  display: flex;
  align-items: center;
  width: 100%; /* Adjust the width as needed */
  max-width: 25em;
  justify-content: space-between;
  margin-left: 25em;
  margin-top: 1.875em;
  background-color: #ffffff;
  border-radius: 0.5em;
  box-shadow: 0 0.125em 0.25em rgba(0, 0, 0, 0.1);
}

.choose-file-btn {
  width: 15em; /* Adjust the width as needed */
  flex-grow: 0; /* Prevents the button from growing to fill the space */
  border: 0.125em solid #E8DAF2;
  border-radius: 0.5em;
  border-width: 0.125em;
  padding: 0.625em 0.75em;
  font-size: 1em;
  color: #333;
  background-color: white;
  cursor: pointer;
  outline: none;
  transition: border-color 0.3s ease-in-out;
}

.choose-file-btn:hover {
  border-color: #0056b3;
}

.image-upload {
  padding: 0.625em 1em;
  border: none;
  border-radius: 0.5em;
  margin-right: 0.625em;
  font-size: 1em;
  color: white;
  background-color: #8436C2;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s;
}

.image-upload:hover {
  background-color: #0056b3;
}

.image-upload:focus,
.choose-file-btn:focus {
  box-shadow: 0 0 0 0.125em rgba(0, 123, 255, 0.5);
}

/* Optional: in case you are using the Font Awesome icon in the button */
.image-upload .fa-file-upload {
  margin-right: 0.3125em;
}

.username {
  padding-left: 18em;
  padding-top: 1.25em;
  font-size: 1.75em;
  font-weight: bold;
}

.detail-card p,
.detail-card h2 {
  font-size: 1.25em;
  line-height: 1.6;
}

.detail-card {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: black;
  background-color: #f9f9f9;
  border-radius: 0.5em;
  box-shadow: 0 0.125em 0.5em rgba(0, 0, 0, 0.1);
  padding: 1.25em;
  margin: 1.25em;
  width: 100%;
  max-width: 81.25em;
  background-color: #E2EBF5;
}

#detail-div-1 {
  padding-left: 46.25em;
  margin-top: -3.4375em;
  padding-bottom: 0.625em;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: black;
  line-height: 1.6;
}

#detail-div-2 {
  padding-left: 46.25em;
  margin-top: 0;
  padding-bottom: 0.625em;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: black;
  line-height: 1.6;
}

.switch-btn {
  background-color: #8436C2;
  color: white;
  position: absolute;
  top: 10.625em;
  border: none;
  padding: 0.9375em 1.25em;
  margin-left: 62.5em;
  border-radius: 0.3125em;
  cursor: pointer;
  transition: background-color 0.3s;
}

.switch-btn:hover {
  background-color: #AC69E2;
}

.About-me-btn,
.my-jobs-btn {
  background-color: #8436c2;
  color: #ffffff;
  border: none;
  padding: 0.625em 1.25em;
  margin-top: 0.625em;
  border-radius: 0.3125em;
  cursor: pointer;
  transition: background-color 0.3s;
}

.About-me-btn:hover,
.my-jobs-btn:hover {
  background-color: #AC69E2;
}

#detail-div-1 {
  display: flex;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: black;
  justify-content: space-between;
  margin-bottom: 0.625em;
}

.switch-btn {
  background-color: #8436c2;
  color: #fff;
  border: none;
  border-radius: 0.3125em;
  padding: 0.625em 1.25em;
  cursor: pointer;
}

#cancel-description {
  background-color: #8436c2;
  color: #fff;
  border: none;
  border-radius: 0.3125em;
  padding: 0.625em 1.25em;
  cursor: pointer;
  margin-left: 17.5em;
  margin-top: -2.875em;
}

.add-lang-btn,
.add-language,
.Add-description {
  background-color: #8436c2;
  color: #fff;
  border: none;
  border-radius: 0.3125em;
  padding: 0.625em 1.25em;
  cursor: pointer;
  margin-right: 0.625em;
}
#cancel-language{
  background-color: #8436c2;
  color: #fff;
  border: none;
  border-radius: 0.3125em;
  padding: 0.625em 1.25em;
  cursor: pointer;
  margin-right: 0.625em;
}

.add-language:hover,
.Add-description:hover {
  background-color: #AC69E2;
}

#cancel-language:hover {
  background-color: #da190b;
}

#Delete-language {
  background-color: #8436c2;
  color: #fff;
  border: none;
  border-radius: 50%;
  padding: 0.3125em 0.625em;
  cursor: pointer;
  margin-left: 0.625em;
}

#Delete-language:hover {
  background-color: #AC69E2;
}

.add-lang-form-div {
  margin-top: 1.25em;
}

.lang-input {
  width: 100%;
  padding: 0.625em;
  margin-bottom: 0.625em;
  border: 0.0625em solid #ccc;
  border-radius: 0.3125em;
  box-sizing: border-box;
}

.add-lang-btn:hover {
  background-color: #45a049;
  color: #fff;
  border: none;
  border-radius: 0.3125em;
  padding: 0.625em 1.25em;
  cursor: pointer;
  margin-right: 0.625em;
}

#cancel-description:hover {
  background-color: #da190b;
}

.add-description-div {
  margin-top: 1.25em;
}

.description-input {
  width: 100%;
  padding: 0.625em;
  margin-top: -40px;
  margin-bottom: 0.625em;
  border: 0.0625em solid #ccc;
  border-radius: 0.3125em;
  box-sizing: border-box;
}

#add-discription {
  background-color: #8436c2;
  color: #fff;
  border: none;
  border-radius: 0.3125em;
  padding: 0.625em 1.25em;
  margin-bottom: 50px;
  cursor: pointer;
  margin-right: 0.625em;
}

#add-discription:hover {
  background-color: #45a049;
}
